@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    /* COLORS */

    /* Primary */

    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    /* Neutral */

    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);

}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: var(--light-grayish-blue);

    display: flex;
    flex-flow: column nowrap;

    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#page {
    flex-grow: 1;
    padding: 8% 10%;
}

#grid-wrapper {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:    "ar1 ar1 ar2 ar3"
                            "ar4 ar5 ar5 ar3";
    gap: 15px;
}

@media screen and (max-width: 1150px) {
    #grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:    "ar1 ar2"
                                "ar3 ar3"
                                "ar4 ar5";
    }
    .big-one {
        margin: 20px 0;
    }
}

@media screen and (max-width: 725px) {
    #grid-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:    "ar1"
                                "ar2" 
                                "ar3"
                                "ar4"
                                "ar5"
    }

    .big-one {
        margin: 20px 0;
    }
}

article {
    border-radius: 10px;
}

#grid-item-1 {
    background: var(--moderate-violet);
    grid-area: ar1;
}

#grid-item-2 {
    background: var(--very-dark-grayish-blue);
    grid-area: ar2;
}

#grid-item-3 {
    background: var(--white);
    grid-area: ar3;
}

#grid-item-4 {
    background: var(--white);
    grid-area: ar4;
}

#grid-item-5 {
    background: var(--very-dark-blackish-blue);
    grid-area: ar5;
}

/* ---------------- */
/*    Inner cards   */
/* ---------------- */

article {
    display: flex;
    flex-flow: column wrap;
    padding: 25px;
    justify-content: space-between;
}

.profil {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profil img {
    height: 35px;
    border-radius: 50%;
    border: 2px solid hsla(0, 0%, 100%, .5);
}

.name {
    color: var(--white);
}

.grade {
    color: var(--white);
    opacity: 50%;
}

.big-one {
    font-size: 20px;
    color: var(--white);
}

.small-one {
    color: var(--white);
    opacity: 70%;
}

#grid-item-3 .name,
#grid-item-4 .name {
    color: var(--very-dark-grayish-blue);
}

#grid-item-3 .grade,
#grid-item-4 .grade {
    color: var(--very-dark-grayish-blue);
    opacity: 50%;
}

#grid-item-3 .big-one,
#grid-item-4 .big-one {
    color: var(--very-dark-grayish-blue);
}

#grid-item-3 .small-one,
#grid-item-4 .small-one {
    color: var(--very-dark-grayish-blue);
    opacity: 70%;
}